
@media (max-width: 1024px) {
    nav .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

nav .links .menu{
  display: flex;
  align-items: center;
  gap: 1rem;
}

    header{
        height: 50vh;
    }

    .image{
       display: none;
    }

    section {
    flex-direction: column;
    gap: 0;
  }

  section .about {
    padding-left: 2rem;
    gap: 1rem;
  }

  section .about .btns {
    align-items: center;
    gap: 15px;
  }

  section .about .btns .btn{
    width: 12rem;
    gap: 0.2rem;
    border-radius: 24px;
    padding: 0.5rem 1.2rem;
  }

  section .about .info {
    width: 80%;
  }

  section .texts{
    padding-left: 2rem;
  }

  section .texts #txt-1{
    padding-top: 1rem;
    font-size: 1.7rem;
  }

  section .texts .txt-3{
    padding-bottom: 2rem;
  }


  .line {
    display: none;
  }
}

@media (max-width: 780px) {

  nav {
    justify-content: space-between;
    padding-right: 1rem ;
  }

  nav #menubtn{
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  nav #mobileMenu.active {
    display: flex;
  }

  nav #mobileMenu {
    display: none;
    position: absolute; /* remove it from nav flow */
    top: 100%; /* right below the navbar */
    right: 0;
    width: 40%;
    background-color: #398e8a;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }

  nav #mobileMenu .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  nav #mobileMenu .btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  nav #mobileMenu .btn {
  gap: 0.5rem;
  border-radius: 20px;
  padding: 0.4rem 1rem;
}

  header {
    height: auto;
    padding: 6rem 1.5rem 4rem;
    clip-path: none;
    padding-left: 0%;
  }

  header .texts .txts{
    padding-left: 0;
    text-align: center;
    align-items: center;
  }

  header .texts .txts .txt #head {
    font-size: 2rem;
  }

  header .texts .txts .txt #light {
    font-size: 2.4rem;
  }

  header .texts .txts .txt small {
    font-size: 1.1rem;
  }

  header .texts .txts .btns {
    flex-direction: column;
    gap: 1rem;
  }

  .image {
    display: none;
  }

  section {
    flex-direction: column;
    gap: 0;
    padding: 1.5rem;
  }

  section .about {
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0%;
  }

  section .about .btns {
    align-items: center;
    gap: 15px;
  }

  section .about .btns .btn{
    width: 12rem;
    gap: 0.2rem;
    border-radius: 24px;
    padding: 0.5rem 1.2rem;
  }

  section .about .info {
    width: 70%;
    align-items: center;
  }

  section .about .btns .icons img{
  width: 40px;
}

section .texts{
    padding: 0%;
  }
  
section .texts #txt-1{
    padding-top: 1rem;
    font-size: 1rem;
  }

  section .texts .txt-2 span {
    left: 0;
    font-size: 68px;
    text-align: center;
  }

  section .texts .txt-3 {
    gap: 2rem;
  }

  section .texts .txt-3 div {
    align-items: center;
  }

  section .texts .txt-3 .bold-1 #bold-1a,
  section .texts .txt-3 .bold-2 #bold-2a {
    font-size: 32px;
  }


  .line {
    display: none;
  }
}
